# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build
.buildcache

.webpack
.webpackCache

cert.pem
key.pem

local/dynamodb/shared-local-instance.db

# My commands
deploy-dev.sh
deploy-prod.sh

jwt_secret.txt
